/****************************************
    Foundation
*****************************************/
@use "./foundation/reset";
@use "./foundation/base";
@use "./foundation/base";

/****************************************
    Module
*****************************************/


/****************************************
    Page
*****************************************/
.hoge {
    color: red;
}